* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


/* Header */

header {
    height: 33px;
}


/* Navigation bar */

nav {
    background-color: rgb(0 0 0 / 65%);
    height: 33px;
}

#name {
    display: inline-block;
    width: 20%;
    color: white;
}

#CP {
    display: inline-block;
    width: 60%;
}

#CP ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#CP ul li {
    list-style: none;
    margin: 0px 30px 0px 30px;
}

#CP ul a {
    text-decoration: none;
    color: white;
}

#CP ul li:hover {
    background-color: white;
    border-radius: 3px;
}

#CP ul li a:hover {
    color: black;
}

#talk1 {
    display: inline-block;
    width: 110px;
    height: 25px;
    cursor: pointer;
    color: white;
    background-color: rgb(0, 119, 255);
    border: none;
    border-radius: 10px;
    float: right;
    margin: 4px 20px 0px 0px;
}

#talk1:hover {
    background-color: white;
    color: black;
}


/* Navigation bar End*/


/* Header End */


/* section */

#contact {
    background-image: url('../Image/Pic.PNG');
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

#contact h1 {
    font-size: 55px;
    background-color: rgba(29, 28, 28, 0.459);
    border-radius: 5px;
}


/* section End*/


/* Main */

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 50%;
    height: 381px;
}

main div {
    width: 30%;
    height: 200px;
}

main div ul li {
    list-style: none;
}

main div ul li i {
    font-size: 30px;
    cursor: pointer;
}

main div ul li i:hover {
    color: rgb(38, 0, 255);
}

#submit {
    display: inline-block;
    width: 110px;
    height: 25px;
    cursor: pointer;
    color: white;
    background-color: rgb(0, 119, 255);
    border: none;
    border-radius: 10px;
}

#submit:hover {
    background-color: rgb(0, 255, 13);
    color: rgb(0, 0, 0);
}


/* Main End */


/* Footer */

footer {
    background-color: rgba(1, 90, 255, 0.81);
    color: white;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Footer End */